* {
    margin:0;
}
.main-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows:1fr 3fr 100px;
    grid-template-columns: minmax(auto, 120vh);
    justify-content: center;
}

.header {
    background-color: darkseagreen;
}

.main {
    background-color: steelblue;
    padding: 20px;
}

.footer {
    background-color: skyblue;
}

.header-navigation-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.button {
    font-size: 20px;
    background-color: white;
    border-radius: 22px;
    border: none;
    padding: 10px 15px;
}
.button:hover {
    color:blue;
    background-color: black;
}

.title {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.main-content {
    display: grid; 
    grid-gap: 10px;
    grid-template-columns: 
    repeat(4, minmax(20px,1fr));
    grid-template-rows: 
    repeat(4, minmax(50px,1fr));
}

.content-item {
    background-color: blue;
    font-size: 50px;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;    
}

.content-item:nth-child(3) {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
}

.content-item:nth-child(6) {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
}

.content-item:nth-child(9) {
    grid-row: 4 / 6;
    grid-column: 3 / 5;
}



